#root {
	--font-logo: "Whisper", cursive;
	--font-nav-list: font-family: "MuseoModerno", sans-serif;
	--yellow: #ffc526;
	--white: #e6e6e6
}

.Footers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: black;
  border-radius:20px 20px 0 0 ;
}

.Footers-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footers-item h2 {
  padding: 0 20px;
  font-family: var(--font-logo);
  color: white;
  text-align: center;
}

.Footers-item p {
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
  color: white;
}

